// @import url("//at.alicdn.com/t/$LINK.css")

.icon
  &.is-small
    .iconfont
      font-size: $icon-dimensions-small
  &.is-medium
    .iconfont
      font-size: $icon-dimensions-medium
  &.is-large
    .iconfont
      font-size: $icon-dimensions-large
